body{
    margin: auto;
    width: 700px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
}
#intro{
    margin-top: 20px;
    font-size: 20px;
}
.one{
    margin-top: 20px;
}
#four{
    font-size: 50px;
}
.five{
    margin-top: 20px;
    line-height:30px;
}
.six{
    margin-top: 20px;
}
.seven{
    margin-top: 5px;
    line-height: 30px;
}
.eight{
    margin-top: 20px;
}
#comment{
margin-top: 10px;
/* font-size: 10px; */
}